@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #5a189a;
  --secondary: #f2f2f2;
}

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid var(--secondary);
}
.navbar h1 {
  color: var(--primary);
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  background-color: #59189aeb;
}

.new-blog {
  color: #fff;
  background-color: var(--primary);
  border-radius: 8px;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* blog previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 8px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-preview-detail {
  display: flex;
  justify-content: space-between;
}

/* blog details page */
.blog-details h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 10px;
}
.blog-details div {
  margin: 20px 0;
}
.blog-details button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h2 {
  font-size: 20px;
  color: var(--primary);
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: var(--primary);
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

/* 404 page */

.not-found {
  text-align: center;
  margin: 2rem;
}

.not-found .backHome {
  text-decoration: none;
  font-size: 18px;
  background-color: var(--primary);
  color: #fff;
  padding: 10px;
  /* margin: 20px; */
  border-radius: 11px;
}
.not-found p {
  margin: 10px 10px 50px;
  font-size: 20px;
}

.not-found h1 {
  font-size: 110px;
}
